# removing .vtu output files
*.vtu

# remove testing
Testing


# ignore log and bacup files
*.log
*.bak

# ignore CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.cmake

# misc
.idea
