# removing .vtu output files
*.vtu

# remove testing
Testing


# ignore log and bacup files
*.log
*.bak

# ignore CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.cmake
build.ninja
CMake


# files for later that don't need to be tracked currently
energies
errors
kappa.vtu
iterations_old
times

# misc and executable
.idea
compile_commands.json
ThreePhase

# Outputs only for local use. No need to be on github
OUT_*/
out_*
OUTPUT_*/

# debug notes
q5s_debug_notes.txt

# no midpoint files for right now. will look into integrating later
MIDPOINT/

# only for submitting jobs to sabine
*.sh
*.o*
hpc_cluster_notes.txt

# for debugging from LC
FROM_LC
